############
## C Language
############

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

################
## Atmel Studio
################
## Ignore Atmel Studio temporary files and build results
# http://www.atmel.com/microsite/atmel_studio6/

# Atmel Studio is powered by an older version of Visual Studio,
# so most of the project and solution files are the same as VS files,
# only prefixed by an `at`.

*.log

#Build Directories
[Dd]ebug/
[Rr]elease/
.vs/

#Build Results
*.o
*.d
*.eep
*.elf
*.hex
*.map
*.srec

#User Specific Files
*.atsuo
jlink.config

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
